{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}

{% extends 'field.html.twig' %}
{% block fieldSingleNo %}

  {% set image = element['#object'].user_picture.0.target_id %}
  {% set userId = element['#object'].uid.0.value %}
  {% if userId is divisible by(3) %}
  	{% set avatar = '/themes/custom/crane_front/images/avatars/avatar-gold.jpg' %}
  {% elseif userId is even %}
  	{% set avatar = '/themes/custom/crane_front/images/avatars/avatar-fuchsia.jpg' %}
  {% else %}
  	{% set avatar = '/themes/custom/crane_front/images/avatars/avatar-blue.jpg' %}
  {% endif %}

  <div class="user-image-wrapper">
		{% if image %}
			<img src="{{ file_url(element['#object'].user_picture.0.entity.fileuri) }}" width="225px" height="225px" alt="Profile image for {{ item.content['#context'].value }}" />
		{% else %}
			<img src="{{ avatar }}" width="225px" height="225px" alt="User profile avatar" />
		{% endif %}
	</div>

	<h1>Dashboard</h1>

  <div class="user-info">
	  <div class="user-name">
	  	<span>{{- element['#object'].field_first_name.0.value -}}</span>
	  	<span>{{- element['#object'].field_last_name.0.value -}}</span>
		</div>
		<div class="user-roles">
			{%- if 'administrator' in element['#object'].getroles -%}
				<span class="role">Administrator</span>
			{%- endif -%}
			{%- if 'senior_editor' in element['#object'].getroles -%}
				<span class="role">Senior Editor</span>
			{%- endif -%}
			{%- if 'editor' in element['#object'].getroles -%}
				<span class="role">Editor</span>
			{%- endif -%}
		</div>
		<div class="edit-link">
			<a href="/user/{{ element['#object'].uid.0.value }}/edit">Edit Profile</a>
		</div>
	</div>

	<div class="action-buttons">
		<a href="/admin/content" class="button-outline">View Content</a>
		<a href="/node/add" class="button-outline">+ Add Content</a>
	</div>
{% endblock %}

