
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}

{% extends "block.html.twig" %}

{% block blockContent %}
	<a class="logo-link" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
		{% if site_logo %}
    		<img class="logo" src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
  	{% endif %}

  	{% if site_name %}
  		<span class="site-name visually-hidden">{{ site_name }}</span>
  	{% endif %}
  </a>
  <a class="site-link" href="https://mlsa.netlify.com/" target="_blank">Live Site</a>
{% endblock %}
